
        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class=nav-bar-style>
              <li>{{#link-to 'index'}}<div class="small-logo">THE MESSAGE BOARD</div>{{/link-to}}</li>
              <li>{{#link-to 'about'}}<div class="nav-tile">ABOUT</div>{{/link-to}}</li>
              <li>{{#link-to 'contact'}}<div class="nav-tile">CONTACT US</div>{{/link-to}}</li>
        </ul>
        <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->


{{#link-to 'index'}}<div class="animated infinite.two lightSpeedIn logo">THE MESSAGE BOARD</div>{{/link-to}}

{{outlet}}
